
.banner{
	position:relative;
	float:left;
	width:960px;
	height:180px;
	background: url(../img/portada/banner.png) no-repeat;
}

/**/
.notif{
	float:left;
	width:600px;
}
.fechas{
	float:left;
	width:360px;
}
.notif .relleno{
	padding:38px 18px 38px 38px;
}
.fechas .relleno{
	padding:38px 38px 38px 18px;
}
.encab{
	background:#00354b;
	margin:0;
	padding:8px 38px;
	color:#fff;
	font-size:25px;
	font-weight:normal;
}
.notif ul{
	margin:0; padding:0;
	list-style:none;
	font-size:17px;
	color:#70798d;
}
.notif li{
	position:relative;
	background:#f7f8f9;
	margin-left:15px;
	padding:15px 20px 15px 35px;
	line-height:27px;
	margin-bottom:20px;
}
.notif li > span{
	position:absolute;
	top:15px; left:-15px;
	background:#c10a0a;
	padding:3px 10px;
	border-radius:4px;
	color:#fff;
	font-size:25px;
}
.notif li p{
	padding:0; margin:0;
}
.fechas .encab{
	padding-left:18px;
}
.fechas dl{
	margin:0; padding:0;
}
dt{
	color:#464756;
	font-size:14px;
	font-family: 'open_sanssemibold';
	letter-spacing:2px;
}
dd{
	font-size:18px;
	color:#92a0ae;
	margin:0 0 20px 0;
}